.container-group-detail{
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:100vh;
    flex-wrap: wrap;
    width: 100%;
    padding: 5vh;
    font-family: "Montserrat", sans-serif;
}

.container-group-detail .group-detail-wrap{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 90vh;
    background: white;
    box-shadow: -5px 10px 20px rgb(0 0 0 / 30%);
}
.scroll-group-detail{
    height: 400px;
    width: 100%;
    overflow-x:hidden;
    overflow: auto;
    padding:0 2% 0 4%;
}

@media (max-width: 570px) {
    .scroll-group-detail{
        padding:0 2% 0 7%;
    }
    .ant-list-items .ant-list-item .role{
        margin-bottom: 10%;
    }
    .ant-list-items .ant-list-item .ant-list-item-meta .ant-list-item-meta-content .ant-list-item-meta-description{
        font-size: 80%;
    }

}