.login{
    height:100%;
    width: 100%;
    padding: 80px;
    display:inline-block;
}

.login:before{
    height: 100%;
}


.login_left{
    width:calc(100% - 300px);

}
.login_right {
    width:100px;
}
.login_right .login_right_image{
    width:300px;
}